@model IEnumerable<DynamicTemplates.Models.Article>
@{
    ViewBag.Title = "Home";
}
@section scripts{
<script src="@Url.Content("~/Scripts/articles.js")"></script>
}

<div class="jumbotron">
    <h1>Welcome to dynamic templates<br></h1>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea class="form-control" id="description" placeholder="Enter description"></textarea>
        </div>
        <button type="button" class="btn btn-default" onclick="add()">Submit</button>
    </form>
</div>

<ul style="list-style: none;" class="row" id="article-list" data-request-url="@Url.HttpRouteUrl("DefaultApi", new { controller = "Article", method = "" })">

    @foreach (var item in Model)
    {
        <li>@Html.Partial("_PartialArticle", item)</li>
    }
</ul>